@font-face {
    font-family:afacad; ;
    src: url(/Fuentes/Afacad,Comfortaa,Josefin_Sans,Livvic,Montserrat/Afacad/Afacad-VariableFont_wght.ttf);
}
@font-face {
    font-family:vivvic negrita ;
    src: url(/Fuentes/Comfortaa,Josefin_Sans,Livvic/Livvic/Livvic-Black.ttf);
}
@font-face {
    font-family:vivvic regular ;
    src: url(/Fuentes/Comfortaa,Josefin_Sans,Livvic/Livvic/Livvic-Medium.ttf);
}
@font-face {
    font-family:vivvic light ;
    src: url(/Fuentes/Comfortaa,Josefin_Sans,Livvic/Livvic/Livvic-Light.ttf);
}
@font-face {
    font-family:Montserrat ;
    src: url(/Fuentes/Comfortaa,Josefin_Sans,Livvic,Montserrat/Montserrat/Montserrat-VariableFont_wght.ttf);
}
body{
    margin: 0;
    font-family: Montserrat;
    background-color: #7d1024;
    color: white;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
}

/*header*/
.linea-bordo{
    padding: 40px 80px;
}
@media (max-width: 768px) {
    .linea-bordo {
        padding: 20px 40px;
    }
}

.boton-regresar {
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
}
.titulo-contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.titulo-contenedor h1 {
    font-size: 70px;
    line-height: 0.95;
    width: 300px;
    margin: 0;
}

.titulo-contenedor h3 {
    font-size: 60px;
    font-weight: bold;
    width: 500px;
    line-height: 1;
    
}

.logo-vinculo{
    width: 140px;
    margin-top: -20px;
}
/*contenedoer principal*/
.contenedor-datos{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -80px;
}

.formulario-vinculo{
    background-color: rgba(183, 134, 143, 0.8);
    padding: 40px;
    border-radius: 10px;
    width: 400px;
}

.campo{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.campo label{
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #42423A;

}
.campo input{
    height: 45px;
    border: none;
    border-radius: 5px;
    background-color: #8a5a63;
    color: white;
    font-size: 16px;
    padding: 0 10px;
}
/*boton google*/
.google-btn-falso{
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 25px;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 25px;

}
.google-icon-wrapper{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-google{
   font-size: 20px;
   background: linear-gradient(45deg, #4285f4, #34a853, #fbbc05, #ea4335);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.btn-text {
    font-size: 16px;
    color: #555;
}
.btn-iniciar {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 25px;
    background-color: #f0b400;
    color: #42423A;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.btn-iniciar:hover {
    background-color: #d99f00;
}
.linea{
    position: absolute;
    width: 4px;
    background-color: #d9ff00;
}


.linea1{
    height: 300px;
    left: 60px;
    top: 500px;
}

.linea2{
    height: 220px;
    left: 150px;
    top: 550px;
}

.linea3{
    height: 350px;
    right: 120px;
    top: 450px;
}


.linea4{
    height: 550px;
    right: 50px;
    top: 370px;
}
@media (max-width: 768px) {
    .linea1, .linea2, .linea3, .linea4 {
       height: 100px;
       top:640px ;
    }
}
/*ventana error*/
.mensaje-error{
    display: none;
    color: #42423A;
    background-color: #ff6600;
    border-left: 4px solid #42423A;
    padding: 10px 15px;
     border-radius: 5px;
    font-family: 'afacad', sans-serif;
    font-size: 1rem;
    max-width: 650px;
    margin: 10px auto;
    text-align: center;
    position: relative;
    z-index: 3; /* Asegura que el mensaje de error esté por encima de otros elementos */
}
.mensaje-error.visible {
    display: block;
}